.submit-button-deactivated {
	opacity: 0.5;
	margin: 15px;
	font-size: 16px;
	height: 36px;
	width: 96px;
	border-radius: 6px;
	border-style: solid;
	border-width: 2px;
	border-color: #5fcf80;
	color: #ffffff;
	/* background: #5fcf80; */
	background: #11998e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#38ef7d,
		#11998e
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#38ef7d,
		#11998e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	outline: none;
	cursor: not-allowed;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.submit-button {
	margin: 15px;
	font-size: 16px;
	height: 36px;
	width: 96px;
	border-radius: 6px;
	border-style: solid;
	border-width: 2px;
	border-color: #5fcf80;
	color: #f7f7f7;
	background: linear-gradient(
		to right,
		#38ef7d,
		#11998e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	outline: none;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.submit-button:hover {
	margin: 15px;
	font-size: 16px;
	height: 36px;
	width: 96px;
	border-radius: 6px;
	color: #5fcf80;
	background: #555555;
	outline: none;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
